<form [formGroup]="userForm" (ngSubmit)="register()">
    <div class="flex-container" fxLayout="column">
        <md-input-container class="gutter">
            <input mdInput type="email" placeholder="email" name="email" formControlName="email" required>
        </md-input-container>
        <div class="error" *ngIf="emailCtrl.touched && emailCtrl.invalid">
            <span *ngIf="emailCtrl.hasError('required') else emailTemplate">Ce champ est requis</span>
            <ng-template #emailTemplate>Format email incorrect</ng-template>
        </div>
        <div formGroupName="passwordForm" class="flex-container" fxLayout="column">
            <md-input-container class="gutter">
                <input mdInput type="password" placeholder="Mot de pass" name="password" formControlName="password">
            </md-input-container>
            <div class="error" *ngIf="password.touched && password.invalid">
                <span *ngIf="password.hasError('required')">Ce champ est requis</span>
            </div>
            <md-input-container class="gutter">
                <input mdInput type="password" placeholder="Re-tape password" name="confirm" formControlName="confirmPassword">
            </md-input-container>
            <div class="error" *ngIf="confirmPassword.touched && confirmPassword.invalid">
                <span *ngIf="confirmPassword.hasError('required')">Ce champ est requis</span>
            </div>
            <div class="error" *ngIf="confirmPassword.valid">
                <span *ngIf="passwordForm.hasError('passwordMatch')">les mots de pass ne se correspondent pas</span>
            </div>
        </div>
    </div>
    <button md-button color="primary" [disabled]="userForm.invalid || submitted">Créer</button>
</form>